
body  {
    background-image: url("coverq.png");
    text-align: center;
}
#heading 
{
	text-align: center;
}
#heading h1
{
	font-size: 30px;
	text-decoration: underline;
	background: -webkit-linear-gradient( #000080,#000080);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
#form1
{
	font-size: 20px;
	text-align: center;
	color:#000080;
	
	

}
#form2
{
	text-align: center;
	

}
#form2 input
{
	font-size: 20px;
	color: blue;
}

 