#heading{
background-image: url('header.png');width:1366;height:267;
}
#footer{
background-image: url('fo.png');width:1366;height:108;
}
#logout{
float:right;
}
#boxed {
  border: 1px solid green ;
} 
#big_boxed {
  border: 1px solid green ;
} 
#msg_content {
  border: 1px solid green ;
} 
